<!DOCTYPE html>
<html>
	<head>
		<title>SentimentViZ</title>
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/material-elements.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/material-widgets.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/material-depth.css') }}" />
		<style type="text/css">
			body {
				background-color: #e8e8e8;
			}
			section,
			section.card {
				display: block;
				position: relative;
				margin: 0 auto 16px;
				max-width: 680px;
				
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
			}
			input[type="checkbox"] {
				margin-bottom: -4px;
				margin-right: 4px;
			}
			textarea {
				width: 100%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
			}
			#canvas,
			#vis3dContainer,
			#vis3dContainer > canvas {
				width: 640px;
				height: 240px;
				max-width: 100%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
			}
				#vis3dContainer {
					display: none;
					position: absolute;
					left: 16px;
					top: 16px;
					max-width: calc(100% - 32px);
				}
		</style>
		
		<script type="text/javascript" src='https://code.responsivevoice.org/responsivevoice.js'></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/three.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/color.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/vis.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/vis3d.js') }}"></script>
		<script type="text/javascript">
			var API_URL = '/api',
				VOICE = 'US English Female';
			
			var outputTxt,
				inputForm,
				vis,
				vis3d,
				sentences;
			
			window.onload = function () {
				// Initialize sentence queue.
				sentences = [];
				
				inputForm = document.getElementById("inputForm");
				inputForm.onsubmit = processText;
				
				outputTxt = document.getElementById('outputTxt');
				
				document.getElementById('show3d').onchange = function () {
					document.getElementById('vis3dContainer').style.display = this.checked ? 'block' : 'none';
					document.getElementById('wireframe').disabled = !this.checked;
				};
				document.getElementById('wireframe').onchange = function () {
					vis3d.wireframe = this.checked;
				};
				
				// Initialize visualizer.
				vis = new Vis(document.getElementById('canvas'));
				vis3d = new Vis3D(document.getElementById('vis3dContainer'), document.getElementById('canvas'));
				
				// Initialize TTS.
				responsiveVoice.setDefaultVoice(VOICE);
			};
			
			function processText(e) {
				e.preventDefault();
				e.stopPropagation();
				
				var text = e.target.inputBox.value,
					xhr = new XMLHttpRequest();
				xhr.open('POST', API_URL, true);
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4) {
						if (xhr.status === 200) {
							var newSentences = [];
							try {
								newSentences = JSON.parse(xhr.responseText);
							} catch (ex) {
								handleError();
							}
							newSentences.forEach(function (newSentence) {
								sentences.push(newSentence);
							});
							dispNextSentence();
						} else {
							handleError();
						}
					}
				};
				xhr.send('text=' + encodeURIComponent(text));
				
			}
			
			function handleError() {
				// TODO: Do something more user-friendly.
				alert('Something went wrong!');
			}
			
			function dispNextSentence() {
				if (sentences.length === 0) {
					vis.clearColorFeed()
					return;
				}
				// Get the sentence at the front of the queue.
				var sentence = sentences.shift(),
					normalizedPolarity = sentence.polarity * 0.5 + 0.5;
				
				dispText(sentence.text + ' (' + Math.round(sentence.polarity * 100) + '%)');
				vis.setColorFeed(normalizedPolarity, sentence.subjectivity);
				vis3d.setTerrainFeed(sentence.polarity, sentence.subjectivity);
				
				// Start TTS and load next sentence after previous sentence is read.
				if (responsiveVoice.voiceSupport()) {
					responsiveVoice.speak(sentence.text, VOICE, { onend: dispNextSentence });
				} else {
					setTimeout(dispNextSentence, 3000);
				}
			}
			
			function dispText(sentence) {
				outputTxt.innerText = outputTxt.textContent = sentence;
			}
		</script>
	</head>
	<body>
		<header class="appBar z2">SentimentViZ</header>
		<section class="card z2" style="text-align: center;">
			<canvas id="canvas" width="640" height="240">
			</canvas>
			<div id="vis3dContainer"></div>
			<p>
				<label for="show3d">
					<input type="checkbox" id="show3d" checked="checked" />
					3D
				</label>
				<label for="wireframe">
					<input type="checkbox" id="wireframe" />
					Wireframe
				</label>
			</p>
			<div id="outputTxt">Enter your text below.</div>
		</section>
		<section class="card z2">
			<form id="inputForm" method="POST">
				<textarea name="inputBox" rows="10" placeholder="Enter your text here." autofocus="autofocus"></textarea>
				<div style="text-align: right;">
					<button type="submit" class="z1" style="font-size: larger;">Visualize</button>
				</div>
			</form>
		</section>
		<section class="card z1">
			<h2 style="margin-top: 0.5em;">About</h2>
			<p>
				Any text you enter will be analyzed sentence by sentence for positive and negative sentiments, which will bleed into the visualization and blue and red spots, respectively.  The more subjective each sentence is, the farther right it will appear in the visualization.
			</p>
		</section>
		<section class="card z1">
			<h2 style="margin-top: 0.5em;">Credits</h2>
			<p>
				Created by <a href="https://zmyaro.com" target="_blank">Zachary Yaro</a> with Jamie Fox-Canning.
			</p>
			<p>
				Backend built using <a href="https://www.python.org" target="_blank">Python</a>'s <a href="http://flask.pocoo.org" target="_blank">Flask</a>, <a href="http://www.nltk.org" target="_blank">NLTK</a>, and <a href="https://textblob.readthedocs.io" target="_blank">TextBlob</a> libraries.  Frontend uses <a href="https://responsivevoice.org" target="_blank">ResponsiveVoice</a>, <a href="http://threejs.org" target="_blank">Three.js</a>, and <a href="https://materialz.zmyaro.com" target="_blank">MaterialZ</a> libraries.  Live instance powered by <a href="https://heroku.com" target="_blank">Heroku</a>.
			</p>
		</section>
	</body>
</html>
