<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src='https://code.responsivevoice.org/responsivevoice.js'></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/color.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/vis.js') }}"></script>
		<script type="text/javascript">
			var API_URL = '/api';
			
			var outputTxt,
				inputForm,
				vis,
				sentences;
			
			window.onload = function () {
				sentences = [];
				
				inputForm = document.getElementById("inputForm");
				inputForm.onsubmit = processText;
				
				outputTxt = document.getElementById('outputTxt');
				
				vis = new Vis(document.getElementById('canvas'));
			};
			
			function processText(e) {
				e.preventDefault();
				e.stopPropagation();
				
				var text = e.target.inputBox.value,
					xhr = new XMLHttpRequest();
				xhr.open('POST', API_URL, true);
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4) {
						if (xhr.status === 200) {
							var newSentences = [];
							try {
								newSentences = JSON.parse(xhr.responseText);
							} catch (ex) {
								handleError();
							}
							newSentences.forEach(function (newSentence) {
								sentences.push(newSentence);
							});
							dispNextSentence();
						} else {
							handleError();
						}
					}
				};
				xhr.send('text=' + encodeURIComponent(text));
				
			}
			
			function handleError() {
				// TODO: Do something more user-friendly.
				alert('Something went wrong!');
			}
			
			function dispNextSentence() {
				// Get the sentence at the front of the queue.
				var sentence = sentences.shift(),
					sentiment = sentence.sentiment * 0.5 + 0.5;
				
				dispText(sentence.text + ' (' + Math.round(sentiment * 100) + '%)');
				vis.addColor(new Color(255 * (1 - sentiment), 0, 255 * sentiment));
				
				// TODO: Add voice synth and load next sentence after previous sentence is read.
				if (sentences.length > 0) {
					setTimeout(dispNextSentence, 3000);
				}
			}
			
			function dispText(sentence){
				outputTxt.innerText = outputTxt.textContent = sentence;
			}
		</script>
	</head>
	<body>
		<canvas id="canvas" width="640" height="480">
		</canvas>
		<div id="outputTxt"></div>
		<br />
		<form id="inputForm" method="POST">
			<textarea name="inputBox" rows="10" cols="30">Enter your text here.
			</textarea>
			<br />
			<button type="submit">Visualize!</button>
		</form>
	</body>
</html>
