<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src='https://code.responsivevoice.org/responsivevoice.js'></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/color.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/vis.js') }}"></script>
		<script type="text/javascript">
			var API_URL = '/api',
				VOICE = 'US English Female';
			
			var outputTxt,
				inputForm,
				vis,
				sentences;
			
			window.onload = function () {
				// Initialize sentence queue.
				sentences = [];
				
				inputForm = document.getElementById("inputForm");
				inputForm.onsubmit = processText;
				
				outputTxt = document.getElementById('outputTxt');
				
				// Initialize visualizer.
				vis = new Vis(document.getElementById('canvas'));
				
				// Initialize TTS.
				responsiveVoice.setDefaultVoice(VOICE);
			};
			
			function processText(e) {
				e.preventDefault();
				e.stopPropagation();
				
				var text = e.target.inputBox.value,
					xhr = new XMLHttpRequest();
				xhr.open('POST', API_URL, true);
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4) {
						if (xhr.status === 200) {
							var newSentences = [];
							try {
								newSentences = JSON.parse(xhr.responseText);
							} catch (ex) {
								handleError();
							}
							newSentences.forEach(function (newSentence) {
								sentences.push(newSentence);
							});
							dispNextSentence();
						} else {
							handleError();
						}
					}
				};
				xhr.send('text=' + encodeURIComponent(text));
				
			}
			
			function handleError() {
				// TODO: Do something more user-friendly.
				alert('Something went wrong!');
			}
			
			function dispNextSentence() {
				if (sentences.length === 0) {
					vis.clearColorFeed()
					return;
				}
				// Get the sentence at the front of the queue.
				var sentence = sentences.shift(),
					polarity = sentence.polarity * 0.5 + 0.5,
					subjectivity = sentence.subjectivity;
				
				dispText(sentence.text + ' (' + Math.round(polarity * 100) + '%, ' + Math.round(subjectivity * 100) + '%)');
				vis.setColorFeed(polarity, subjectivity);
				
				// Start TTS and load next sentence after previous sentence is read.
				if (responsiveVoice.voiceSupport()) {
					responsiveVoice.speak(sentence.text, VOICE, { onend: dispNextSentence });
				} else {
					setTimeout(dispNextSentence, 3000);
				}
			}
			
			function dispText(sentence) {
				outputTxt.innerText = outputTxt.textContent = sentence;
			}
		</script>
	</head>
	<body>
		<canvas id="canvas" width="640" height="240">
		</canvas>
		<div id="outputTxt"></div>
		<br />
		<form id="inputForm" method="POST">
			<textarea name="inputBox" rows="10" cols="72" autofocus="autofocus">Enter your text here.</textarea>
			<br />
			<button type="submit">Visualize</button>
		</form>
	</body>
</html>
